In [2]:
import pandas as pd
import MySQLdb
from sqlalchemy import create_engine

In [3]:
# DB Connection
myvars = {}
with open("../risaac-mysql-password") as myfile:
    for line in myfile:
        name, var = line.partition(":")[::2]
        myvars[name.strip()] = var.strip()

In [4]:
myvars['DB databasename'] = 'I501saptpurkFall22grp_06_db'

In [5]:
conn = MySQLdb.connect(host="localhost", user=myvars['DB username'], passwd=myvars['DB password'], db=myvars['DB databasename'])
cursor = conn.cursor()

In [6]:
df_p_demo = pd.read_sql('select * from P_DEMO_preprocess', conn)
df_p_huq = pd.read_sql('select * from P_HUQ_preprocess', conn)
df_p_hiq = pd.read_sql('select * from P_HIQ_preprocess', conn)

/usr/local/lib/python3.10/dist-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
df_p_huq = df_p_huq.drop("huq_key", axis = 1)

In [11]:
df_p_hiq = df_p_hiq.drop("hiq_key", axis = 1)

In [13]:
# shape before merge
df_p_demo.shape

(15400, 18)

In [16]:
# merge demographics with hospital utilization dataset
df_p_demo_huq = df_p_demo.merge(df_p_huq, on = "SEQN", how = "inner")

In [18]:
# merge data with hospital insurance dataset
df_p_demo_huq_hiq = df_p_demo_huq.merge(df_p_hiq, on = "SEQN", how = "inner")

In [19]:
df_p_demo_huq_hiq.shape

(15398, 33)

In [20]:
df_p_demo_huq_hiq

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,DMDBORN4,DMDYRUSZ,...,HIQ011,HIQ032A,HIQ032B,HIQ032C,HIQ032D,HIQ032E,HIQ032H,HIQ032I,HIQ270,HIQ210
0,109263,66,2,0,2,24,5,6,1,5,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
1,109264,66,2,1,13,156,1,1,1,5,...,1.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0
2,109265,66,2,0,2,24,3,3,1,5,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0
3,109266,66,2,1,29,348,5,6,2,2,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
4,109267,66,1,1,21,252,2,2,2,3,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15393,124818,66,2,0,40,480,4,4,1,5,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
15394,124819,66,2,0,2,24,4,4,1,5,...,1.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0
15395,124820,66,2,1,7,84,3,3,1,5,...,1.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0
15396,124821,66,2,0,63,756,4,4,1,5,...,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0
15397,124822,66,2,0,74,888,2,2,2,4,...,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0

In [21]:
cols = ['SEQN'
         ,'SDDSRVYR'
         ,'RIDSTATR'
         ,'RIAGENDR'
         ,'RIDAGEYR'
         ,'RIDAGEMN'
         ,'RIDRETH1'
         ,'RIDRETH3'
         ,'RIDEXMON'
         ,'DMDBORN4'
         ,'DMDYRUSZ'
         ,'DMDEDUC2'
         ,'DMDMARTZ'
         ,'RIDEXPRG'
         ,'SIALANG'
         ,'SIAPROXY'
         ,'SIAINTRP'
         ,'FIALANG'
         ,'FIAPROXY'
         ,'FIAINTRP'
         ,'MIALANG'
         ,'MIAPROXY'
         ,'MIAINTRP'
         ,'AIALANGA'
         ,'SDMVPSU'
         ,'SDMVSTRA'
         ,'HIQ011'
         ,'HIQ032A'
         ,'HIQ032B'
         ,'HIQ032C'
         ,'HIQ032D'
         ,'HIQ032E'
         ,'HIQ032H'
         ,'HIQ032I'
         ,'HIQ032J'
         ,'HIQ260'
         ,'HIQ105'
         ,'HIQ270'
         ,'HIQ210'
         ,'HUQ010'
         ,'HUQ030'
         ,'HUQ071'
         ,'HUQ090'
         ,'HUQ051'
         ,'HUD062']

for col in cols:
    if col in df_p_demo_huq_hiq.columns:
        df_p_demo_huq_hiq[col] = df_p_demo_huq_hiq[col].astype("Int32")

In [22]:
cols = ['WTINTPRP'
         ,'WTMECPRP'
         ,'INDFMPIR']

for col in cols:
    if col in df_p_demo_huq_hiq.columns:
        df_p_demo_huq_hiq[col] = df_p_demo_huq_hiq[col].astype("float")

In [25]:
my_conn = create_engine(f"mysql+mysqldb://{myvars['DB username']}:{myvars['DB password']}@localhost/{myvars['DB databasename']}") #fill details

In [26]:
name = "P_DEMO_HUQ_HIQ"
df_p_demo_huq_hiq.to_sql(name, con = my_conn, if_exists = 'replace', index = False)

15398